@font-face{
    font-family: "ohsquareAir";
    font-weight: 100;
    font-style: normal;
    src: url("../../fonts/AnyConv.com__Cafe24OhsquareAir-v2.0.woff2") format("woff2"),
        url("../../fonts/Cafe24OhsquareAir-v2.0.woff") format("woff");
    font-display: swap;
}
@font-face{
    font-family: "ohsquare";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/AnyConv.com__Cafe24Ohsquare-v2.0.woff2") format("woff2"),
        url("../../fonts/Cafe24Ohsquare-v2.0.woff") format("woff");
    font-display: swap;
}
@font-face{
    font-family: "pret";
    font-weight: 300;
    font-style: normal;
    src: url("../../fonts/Pretendard-Regular.woff2") format("woff2"),
        url("../../fonts/Pretendard-Regular.woff") format("woff");
}
@font-face{
    font-family: "pret";
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/Pretendard-Medium.woff2") format("woff2"),
        url("../../fonts/Pretendard-Medium.woff") format("woff");
}
@font-face{
    font-family: "pret";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/Pretendard-SemiBold.woff2") format("woff2"),
        url("../../fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face{
    font-family: "pret";
    font-weight: 800;
    font-style: normal;
    src: url("../../fonts/Pretendard-Bold.woff2") format("woff2"),
        url("../../fonts/Pretendard-Bold.woff") format("woff");
}